@charset "UTF-8";


.resume-header {
	background-color: #FAF1E8;
}

h5 { 
	box-sizing: border-box;
	color: #FF7C15;
	
}

.body {
	background-color: #FFA45B;
	margin: 0;
}.h-100 .d-flex.flex-column.h-100.justify-content-between {
}
/* CSS Document */ 

h1 {
	color:#ED4672; 
	font-size: 60px; 
	text-transform:capitalize;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	box-sizing: border-box;
	font-weight: 800;
	writing-mode: horizontal;
	
} 

.marginlogobuas {
	margin-right: 30px;
} 

.marginlogoinsta {
	margin-right: 58px 
}

.marginlogolinkedin { 
	margin-right: 60px; 
}

.marginlogotel {
	margin-right: 60px;
}

.marginh5 { 
	margin-top: 20px;
}

.main-background {
	background-color: #FAF1E8;
}

.resumetab {
	background-color: #FAF1E8;
}

.profexp {
	color: #F38FAA;
}

.boxnative {
	border-color: #F59EB5;
}

.contact {
	color: #F38FAA;
}

.education {
	color: #F38FAA;
}

.otherskills {
	color:#F38FAA;
}

.languages {
	color: #F38FAA;
}

.intandhobbies {
	color: #F38FAA;
}


