@charset "UTF-8";


.resume-header {
	background-color: #FAF1E8;
}

h5 { 
	box-sizing: border-box;
	
}

.body {
	background-color: #FFA45B;
	margin: 0;
}.h-100 .d-flex.flex-column.h-100.justify-content-between {
}
/* CSS Document */ 

h1 {
	color:#FA6096; 
	font-size: 60px; 
	text-transform:capitalize;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	box-sizing: border-box;
	text-shadow: 25px 38px;
	font-weight: 800;
	writing-mode: horizontal;
} 


