@charset "UTF-8";


.resume-header {
	background-color: #FAF1E8;
}

.resumebackground { 
	background-color: #F59FB6;
}

.mediatagline { 
	box-sizing: border-box;
	color: #F38FAA; 
	margin-top: 20px;
}
	
.body {
	background-color: #FFA45B;
	margin: 0;
}.h-100 .d-flex.flex-column.h-100.justify-content-between {
}
/* CSS Document */ 

h1 {
	color:#ED4672; 
	font-size: 60px; 
	text-transform:capitalize;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	box-sizing: border-box;
	font-weight: 800;
	writing-mode: horizontal;
	
} 

.marginlogobuas {
	margin-right: 30px;
} 

.marginlogoinsta {
	margin-right: 58px 
}

.marginlogolinkedin { 
	margin-right: 60px; 
}

.marginlogotel {
	margin-right: 60px;
}

.main-background {
	background-color: #FAF1E8;
}

.resumetab {
	background-color: #FAF1E8;
}

.profexp {
	color: #FF6823;
}

.boxnative {
	border-color: #F59EB5;
}

.contact {
	color: #FF6823;
}

.education {
	color: #FF6823;
}

.otherskills {
	color:#FF6823;
}

.languages {
	color: #FF6823;
}

.intandhobbies {
	color: #FF6823;
}

.filmgraduate { 
	color: #FF8348;
}

.kw1cyears {
	color: #FFB400;
}

.kw1csentenceone {
	color: #FF18A3;
}

.kw1csentencetwo {
	color: #FF18A3;
}

.kw1csentencethree {
	color: #FF18A3;
}

.distribcentre {
	color: #FF6823;
}

.eugyears {
	color: #FFB400;
}

.fitcoachtitle {
	color: #FF6823;
}

.fitcoachyears {
	color: #FFB400;
}

.cbbuas {
	color: #FF6823;
}

.buasyears {
	color: #FFB400;
}

.effentyears {
	color: #FF8348;
}

.effenthead {
	color: #FF6823;
}

.langdutch {
	color: #FF6823;
}

.langenglish {
	color: #FF6823;
}

.langspanish {
	color: #FF6823;
}

.buassentone { 
	color: #FF18A3;
}

.buassenttwo {
	color:#FF18A3; 
}

.buassentthree {
	color: #FF18A3;
}

.effentsentone {
	color: #FF18A3;
}

.teamplayer {
	color: #FF18A3;
}

.microsoftoffice {
	color: #FF18A3;
}

.adobepremiere {
	color: #FF18A3;
}

.driverslicence {
	color: #FF18A3;
}

.beingcreative {
	color: #FF18A3;
}

.netflix {
	color: #FF18A3;
}

.workingout {
	color: #FF18A3;
}



